/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    padding-top: 50px;
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.main-search-query {
  margin-bottom: 10px;
  width: 100%;
}

.search-result {
  border: 2px solid transparent;
  border-radius: 7px;
  padding: 10px;
  margin: 3px;
  position: relative;
}

.search-result:hover {
  border: 2px solid #428bca;
}

.promoted {
  background-color: #8FFF92;
}

.demoted {
  background-color: #FF8F92;
  color: #969696;
}

.demoted a:link {
  color: #808080;
}

input.main-search-query {
  width: 100%;
}

.like_dislike {
  float: right;
  margin: -10px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.critisort {
  position: fixed;
  top: 20;
  right: 20;
}

.teacher-queries {
  border: 1px solid black;
  border-radius: 10px;
  min-height: 500px;
  padding:20px;
}

.student-query {
  list-style-type: none;
  border-radius: 8px;
  background-color: lightgray;
  padding: 5px;
  margin: 3px;
  width: 50%;
  text-align: center;
}