<div class="row">
  <div class="col-md-2">
    <h3>Teacher View</h3>
  </div>
  <div class="col-md-8">
    <div class="teacher-title">
      <h1>Queries in progress:</h1>
    </div>
    <div class="teacher-queries">
      <!-- <teacher-queries queries="queries"></teacher-queries> -->
      <ul>
        <li class="student-query" ng-repeat="query in queries">{{query.query}}</li>
      </ul>

    </div>
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-lg btn-primary" data-toggle="button" ng-click="logOut()">Logout</button>

  </div>
</div>